@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Roboto', sans-serif;
}

html{
    @apply overflow-x-hidden bg-main-bg text-white;
}

.wrapper{
    @apply w-[100vw] flex justify-center
}

.exceptional{
    background-image: linear-gradient(180deg,#b4ec51,#429321);
}

.recommended{
    background-image: linear-gradient(0deg,#4354b9,#649bff);
}

.meh{
    background-image: linear-gradient(180deg,#fad961,#f76b1c);
}

.skip{
    background-image: linear-gradient(180deg,#ff5764,#f11a2a);
}

.exceptional, .recommended, .meh, .skip{
    @apply hover:shadow-[0_0_10px_0_#fff] cursor-pointer;
}
